<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!--Eager / (PhotoSwipe integration) <script src="//fast.eager.io/MfgGLYWNv9.js"></script> -->

	<!-- SumoMe <script src="//load.sumome.com/" data-sumo-site-id="0b34714871105cffcdd81fda5e8b9c7c39b8c9aba0a06e83e61943eea19dcd55" async></script>
 -->

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">

<!-- end custom head snippets -->
