{% if site.tag_archive.type and page.tags[0] %}

  <p class="page__taxonomy">
    <strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }} </strong>
    <span itemprop="keywords">
 {% for tag in page.tags %}
      {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
      <a href="{{ tag }}" class="btn" rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
{% endif %}
    </span>
  </p>


{% if site.category_archive.type and page.categories[0] %}
  {% include category-list.html %}
{% endif %}
