---
layout: archive
---

<div id="index">
	<h1>Hej och välkommen till netkom.se
	<br>en sida som förespråkar digital frihet:
	<br>fri Internet kommunikation, fri mjukvara och fri tankeutbyte</h1>
	<br>
	<a href="{{ site.url}}/about" class="btn btn--inverse pull-right">Läs mer om netkom.se</a>

  <a href="{{ site.url}}/notes" class="btn">Visa anteckningar</a>
</div>

<h3><a href="{{ site.url}}/notes/">Senaste anteckningar</a></h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
