---
layout: archive
---

<div id="index">
	<h1>Hej och välkommen till netkom.se!
	<br>
	<br>en sida som förespråkar digital frihet:
	<br>fri Internet kommunikation, fri mjukvara 
 	<br>och fri tankeutbyte</h1>
	<br>
	<a href="{{ site.url}}/om-netkom" class="btn btn--inverse pull-right"> |>> Läs mer om netkom.se</a>

  <a href="{{ site.url}}/internet" class="btn">Visa texter som handlar om Internet</a>
</div>

<h3><a href="{{ site.url}}/internet/">Senaste Internet relaterade texter</a></h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
